.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    color: #cfcfcf;
}

.footer{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}