<div class="navbar">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/about']">About</a>
    <a [routerLink]="['/github', 'angular']">Github Repos</a>
    <a [routerLink]="['/contact']">Contact Us</a>
    <a [routerLink]="['/experiments']">Experiments</a>
</div>

<main>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer text-center row">
        ©2018 Eric Nowac
    </div>
</main>