html{
    background: #e0e0e0;
    font-family: sans-serif;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Resume contact header*/
.contact{
    width: 100%;
}

.contact td{
    width: 33%;
}

/*Headers and breaks*/
.section-break{
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-head{
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Navigation bar*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    color: #cfcfcf;
}

/*Basic card*/
.card{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FFF;
    border-radius: 2px;
    padding: 12px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Refrence cards*/
.contactinfo{
    flex: 1;
    margin: 8px;
    min-width: 200px;
    max-width: 250px;
}

.contactinfo img{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 5px;
}


/*Schedule Table*/
.schedule{
    width: 100%;
    border: 1px solid;
}

.schedule tr:first-child{
    width: 10%;
}

.schedule tr:not(:first-child){
    width: 15%;
}

.schedule td, th{
    border-bottom: 1px solid rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.12);
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Todo-list*/
.todo-item span{
    margin-top: 15px;
    width: 100%;
}

.button{
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

/*Marquee in CSS because the marquee tag isn't valid anymore*/
.marquee{
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee div{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

.marquee div:hover{
    animation-play-state: paused;
}

@keyframes marquee{
    0% {transform: translate(0,0); }
    100% {transform: translate(-100%,0); }
}

/*Utilities*/
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.row{
    margin-top: 15px;
}

.no-margin{
    margin: 0px;
}

/*Colors*/
.yellow{
    background-color: #FFEB3B;
}

.yellow-text{
    color: #FFEB3B;
}

.light-blue{
    background-color: #03A9F4;
}

.light-blue-text{
    color: #03A9F4;
}

.red{
    background-color: #F44336;
}

.red-text{
    color: #F44336;
}

.orange{
    background-color: #FF9800;
}

.orange-text{
    background-color: #FF9800;
}

.grey{
    background-color: #9e9e9e;
}

.grey-text{
    background-color: #9e9e9e;
}