<div class="card">
    <h3>GitHub Browser</h3>

    <input type="text" #repoName placeholder="Search Github Orgs">
    <button (click)="searchForOrg(repoName.value)">Search Orgs</button>
</div>
<div class="card row">
    <router-outlet></router-outlet>
</div>