<div class="container">
  <h1>{{name}} Task List</h1>
  <hr>
  <input [(ngModel)]="title" (keyup.enter)="addTask()" class="form-control" placeholder="Add Task...">
  <table class="table" style="margin-top: 30px">
    <thead>
      <tr>
        <th>Done</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks">
      <tr>
        <td>
          <input type="checkbox" (click)="updateTask(task)" [checked]="task.isDone">
        </td>
        <td>{{task.title}}</td>
        <td>
          <button (click)="deleteTask(task._id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>