<div class="card">
    <h3>Home Component</h3>
    <h4>Personal Profile</h4>
    <p>Name: {{name}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Message: {{message}}</p>
</div>
<div class="card row">
    <div class="update-field">
        <span>Update name: </span>
        <input [(ngModel)]="name">
    </div>
    <div class="update-field">
        <span>Update Phone: </span>
        <input [(ngModel)]="phone">
    </div>
    <div class="update-field">
        <span>Update Email: </span>
        <input [(ngModel)]="email">
    </div>
    <div class="update-field">
        <span>Update Message: </span>
        <input [(ngModel)]="message">
    </div>
</div>