.update-field{
    margin-top: 10px;
}

.update-field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px, 0;
    box-sizing: border-box;
    border: 2px solid #9e9e9e;
    border-radius: 4px;
}

.update-field input:focus{
    outline: none;      /*Get rid of that pesky border*/
    border: 3px solid #757575;
}
