.todo-list{
    padding: 0;
    list-style: none;
}

.todo-list li{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.todo-list li:nth-child(odd){
    background: #EEEEEE;
}

.todo-list li button{
    float: right;
}

.update-field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px, 0;
    box-sizing: border-box;
    border: 2px solid #9e9e9e;
    border-radius: 4px;
}

.update-field input:focus{
    outline: none;      /*Get rid of that pesky border*/
    border: 3px solid #757575;
}