<div class="card update-field">
    <h1>Todos</h1>
    <input [(ngModel)]="currentTodo.title" (keyup.enter)="addTodo()">
</div>
<div class="card row">
    <ul class="todo-list">
        <li *ngFor="let todo of todos">
            <span>{{todo.id}}.) </span>
            <input class="toggle" type="checkbox" [checked]="todo.done" (change)="todo.done = !todo.done">
            <label [ngClass]="{'red-text': !todo.done, 'light-blue-text':todo.done}">{{todo.title}}</label>
            <button class="text-right" (click)="removeTodo(todo)">Remove</button>
        </li>
    </ul>
</div>