.main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FFF;
    border-radius: 2px;
    padding: 12px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Utilities*/
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.row{
    margin-top: 15px;
}

.no-margin{
    margin: 0px;
}

/*Colors*/
.yellow{
    background-color: #FFEB3B;
}

.yellow-text{
    color: #FFEB3B;
}

.light-blue{
    background-color: #03A9F4;
}

.light-blue-text{
    color: #03A9F4;
}

.red{
    background-color: #F44336;
}

.red-text{
    color: #F44336;
}

.orange{
    background-color: #FF9800;
}

.orange-text{
    background-color: #FF9800;
}

.grey{
    background-color: #9e9e9e;
}

.grey-text{
    background-color: #9e9e9e;
}