/*
    Author: Eric Nowac <nowace@msoe.edu>
*/
html{
    background: #e0e0e0;
    font-family: sans-serif;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Nav bar*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    color: #cfcfcf;
}

/*Basic card*/
.card{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FFF;
    border-radius: 2px;
    padding: 12px;
}

.cmd-info{
    flex: 1;
    margin: 8px;
    min-width: 200px;
    max-width: 250px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text{
    flex: 1;
    margin: 8px;
    min-width: 200px;
    max-width: 250px;
}


/*Button*/
.button-flat{
    min-width: 88px;
    height: 36px;
    border: transparent;
    border-radius: 2px;
    background: none;
}

.button-flat:hover{
    background: #E0E0E0 40%;
}

.button-flat:active{
    background: #BDBDBD 40%;
}

/*image*/

.dog-img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

/*Utilities*/
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.row{
    margin-top: 15px;
}

.no-margin{
    margin: 0px;
}

/*Colors*/
.yellow{
    background-color: #FFEB3B;
}

.yellow-text{
    color: #FFEB3B;
}

.light-blue{
    background-color: #03A9F4;
}

.light-blue-text{
    color: #03A9F4;
}

.red{
    background-color: #F44336;
}

.red-text{
    color: #F44336;
}

.orange{
    background-color: #FF9800;
}

.orange-text{
    background-color: #FF9800;
}

.grey{
    background-color: #9e9e9e;
}

.grey-text{
    background-color: #9e9e9e;
}
